

/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*// Layout                                                                                */
div.wrapper{display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;grid-template-rows:10vh auto 20vh 10vh;grid-template-areas:"title   title   title   scene scene scene scene scene scene scene status status" "rooms   rooms   rooms   panel panel panel panel panel panel panel panel  panel" "wtemp   wtemp weather panel panel panel panel panel panel panel panel  panel" "whum    wpres weather foot  foot  foot  foot  foot  foot  foot  foot   power";height:100vh}
div.wrapper>div{display:flex;justify-content:center;align-items:center}
div.title{grid-area:title}
div.rooms{grid-area:rooms;}
div.status{grid-area:status}
div.wtemp{grid-area:wtemp}
div.wpres{grid-area:wpres}
div.whum{grid-area:whum}
div.weather{grid-area:weather}
div.scene{grid-area:scene}
div.panel{grid-area:panel}
div.foot{grid-area:foot}
div.power{grid-area:power}
video#bg {position: fixed; top:0; left:0; z-index: -1;width: 100vw;}

/*/////////////////////////////////////////////////////////*/
/*// Rooms Buttons                                       //*/
div.rooms{flex-direction:column}
div.rooms>div{text-align:right;flex:1;width:100%;padding:2vw;margin:1pt 1pt 1pt 0;display:flex;align-items:flex-end;background:#66666633; cursor: pointer}
div.rooms>div:hover{background:#66666666}
div.rooms>div>span{flex:1}


/*/////////////////////////////////////////////////////////*/
/*// Weather Panel                                       //*/


/*/////////////////////////////////////////////////////////*/
/*// Main Scenes lane                                    //*/


/*/////////////////////////////////////////////////////////*/
/*// Power | Status                                      //*/


/*/////////////////////////////////////////////////////////*/
/*// Room Panel                                          //*/

/*// Room Selector                                       //*/
