.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
 
**/desktop.ini
_web/.vscode/arduino.json
_web/.vscode/c_cpp_properties.json
