/*////////////////////////////
// Layout
*/
*{box-sizing: border-box;}
div.wrapper{
  display:grid;
  grid-template-columns: minmax(70pt,20vw) minmax(10vw, 1fr) minmax(70pt,10vw);
  grid-template-rows:10vh 1fr 10vh;
  grid-template-areas:
  "title master-scene status"
  "rooms panel panel"
  "weather subpanel power";
  height:100vh;
  }
div.wrapper>div{display:flex;justify-content:center;align-items:center;overflow: hidden;}
div.title{grid-area:title;background:url(images/hauskontrol.svg) no-repeat 0 0;background-size:15vw;margin:20px}
div.rooms{grid-area:rooms}
div.status{grid-area:status}
div.weather{grid-area:weather}
div.master-scene{grid-area:master-scene}
div.panel{grid-area:panel}
div.subpanel{grid-area:subpanel}
div.power{grid-area:power}

div.wrapper>div>div{flex:1 0 auto;overflow: hidden;}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Common behaviors
*/
.btn {background:#FFF1;padding: 5pt;margin: 1pt 1pt 0 0;cursor:pointer;}
.btn:hover {background:#FFF2;transition: all 1s;}
.btn::after{font-family:"Font Awesome 5 Free";font-weight:900;padding:0 0 0 5pt}

.btn.s {width: 5vw; height:5vw;}
.btn.m {width: 10vw; height:10vw;}

/*////////////////////////////
// room selector
*/
div.rooms{flex-direction:column}
div.rooms>div{flex:1;width:100%;padding:2vw;margin:1pt 1pt 1pt 0;display:flex;align-items: flex-end;background:#66666633;cursor:pointer;transition: background-color 0.5s;}
div.rooms>div:hover{background:#66666666}
div.rooms>div>span{flex:1}

/* room icons */
div.rooms>div::after{font-family:"Font Awesome 5 Free";font-weight:900;padding:0 0 0 10pt}
div.rooms>div.suite::after  {content: "\f236"}
div.rooms>div.living::after {content: "\f5ce"}
div.rooms>div.office::after {content: "\f108"}
div.rooms>div.kitchen::after{content: "\f2e7"}
div.rooms>div.on {background:#7f15a849}

/*////////////////////////////
// master scenes panel      */
div.master-scene>div{flex: 1 0 auto;height: 100%;}


/*////////////////////////////
// devices/scenes panel     */
div.wrapper>div.panel {display: flex;flex-wrap: wrap;padding: 5pt;flex-direction: column;max-height: 75vh;}
div.panel div.btn{width: 10vw;min-width: 100pt;height: 10vw;padding: 5pt;flex: 1 1 10vw;max-width: 10vw;max-height: 10vw;min-height: 100pt;}
div.panel div.btn.on{background:#66FF6666}

div.fan {display: grid;
  width: 100%;
  grid-template-areas: 
  "label up" 
  "label speed"
  "label down";
  grid-template-columns: 3fr 1fr;
}
div.fan>div{display: flex;align-items: center;margin: auto;padding: 5pt;width: 100%;text-align: right;}
div.fan>div::after{font-family:"Font Awesome 5 Free";font-weight:900;padding:0 0 0 5pt}
div.fan>div:first-child{grid-area: label;margin:0;align-self: flex-start;padding: 0;height: 100%;align-self: flex-start;align-content: flex-start;}
div.fan>div.up{grid-area: up;}
div.fan>div.down{grid-area: down}
div.fan>div.speed{grid-area: speed;display: flex;align-items: center;}
div.fan>div.speed>span{flex: 1; align-self: center;}
div.fan>div.up::after{content: '\f077'}
div.fan>div.down::after{content: '\f078'}


/*subpanel selector*/
div.subpanel>div {height: 100%;}


/*////////////////////////////
// footer items             */
div.power{display:flex}
div.power>div.btn {height:100%;}
div.power>div::after{content: "\f011"; padding: 5pt; flex:1}
